@import url(reset.css);

body {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 300;
    color: #6c757d;
    line-height: 1.8;
}
.block__1,
.block__3,
.block__5 {
    max-width: 816px;
    margin: 0 auto 40px;
}
.block__2,
.block__4 {
    max-width: 1240px;
    margin: 0 auto 80px;
}
p {
    padding: 0 0 40px 0;
}
.block__1-title,
.block__3-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.6;
    color: #212529;
    max-width: 400px;
    margin: 0 0 40px 0;
}
.image__1,
.image__2,
.image__3 {
    max-width: 100%;
}
.block__3-title {
    max-width: 605px;
}
.image__2 {
    margin: 0 30px 0 0;
}
.block__4 {
    font-size: 0;
}
